.form-control{
  margin: 10px 0px 10px 0px;
}
#course-left, #course-right{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#newCourseButton{
  width: 250px;
}
#dropdown{
  margin: 10px 0 10px 0;
}
#courseDropdown{
  text-align: center;
  height: 35px;
  border-radius: 3px;
  width: 250px;
}
#newCourse{
  width: 180px;
}
button, select{
  background-color: rgb(48, 139, 224);
  border: none;
  color: white;
  font-weight: bold;
}
.visible{
  display: none;
}
